<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Create Link - URL Shortener</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="add" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_key">Key:</label>
            <input
                    id="url_key"
                    type="text"
                    name="key"
                    placeholder="Generates a number"
            />
            <label for="url_input">URL:</label>
            <input
              id="url_input"
              type="text"
              name="url"
              onclick="getClipboard()"
              placeholder="https://www.example.org/"
            />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <script>
      const input = document.getElementById("url_input");

      async function getClipboard() {
        const text = await navigator.clipboard.readText();
        input.value = text;
      }
    </script>
  </body>
</html>
